# 导包

In [1]:
import pandas as pd
from dbfread import DBF

In [2]:
csv_df = pd.read_csv(r'./使用数据/样木库.csv',encoding='utf_8_sig')
csv_df

     样地号  立木类型  样木号  树种代码  检尺类型   直径  材质等级  材积式  材积
0   6166     1   61   180    11  122     0    0  53
1   6353     1   45   140    14   61     0    0   7
2   6794     1   69   140     1   50     0    0   4
3   7188     1   92   240    16  125     0    0  53
4   6794     1   20   330    17  130     0    0  54
5    681     1   22   310     1  133     0    0  73
6  10861     3   29   200     1   92     0    0  23
7   8064     1   48   260    11  105     0    0  33
8   1344     1   54   140     1  153     0    0  87
9   3167     1   54   240     1   64     0    0   9

In [3]:
excel_df = pd.read_excel(r'./使用数据/属性表.xls')
sam_excel_df = excel_df.sample(10).sample(10,axis=1)
sam_excel_df

,森林自然度,软阔类占,交通区位等级,遗产地,天然更新等级,平差后散生蓄积,灌木覆盖度,国家森林公园,林木生长势,树种比
288,2.0,0,1.0,NaN,NaN,0,15,NaN,NaN,7杉木2马尾松1木荷
216,4.0,20,1.0,NaN,NaN,24,35,NaN,NaN,3杉木2马尾松1栲树2木荷1泡桐1苦楝树
70,2.0,26,1.0,NaN,1.0,0,0,NaN,NaN,1杉木1马尾松5栲树1木荷2苦楝
204,3.0,0,1.0,NaN,NaN,0,0,NaN,NaN,10马尾松
96,4.0,20,1.0,NaN,NaN,5,45,NaN,3.0,3杉木2马尾松2木荷1栲树2泡桐
233,4.0,20,1.0,NaN,NaN,78,35,NaN,NaN,3杉木2马尾松1栲树2木荷1泡桐1苦楝树
115,3.0,26,2.0,NaN,1.0,0,0,NaN,1.0,2杉木1马尾松5栲树1木荷1南酸枣
336,2.0,25,1.0,NaN,NaN,0,25,NaN,2.0,1杉木2马尾松3栲树2木荷1苦楝树1酸枣树
307,3.0,10,1.0,NaN,NaN,0,45,NaN,1.0,4杉木1马尾松2栲树2木荷1泡桐
286,2.0,15,1.0,NaN,NaN,0,45,NaN,2.0,2杉木4马尾松1栲树1槠树1木荷1泡桐

In [4]:
table = DBF('./使用数据/湖北样木库T2004423.DBF',encoding='gbk',char_decode_errors='ignore',load=True)

In [5]:
dbf_df = pd.DataFrame(iter(table))
sam_dbf_df = dbf_df.sample(10).sample(10,axis=1)
sam_dbf_df

        跨角地类号  材积式  检尺类型  树种代码   水平距   单株材积  采伐类型 备注  参数组   胸径
61159       0  423    11   220   9.0  0.394     1       3  294
84239       0  423    12   310   7.3  0.008     1       5   60
84519       0  423    11   220  10.6  0.024     1       2   91
65665       0  423    11   590  11.8  0.067     1      12  142
30106       0  423    12   590   8.1  0.019     1      10   79
64357       0  423    12   220   8.8  0.006     1       2   52
109872      0  423    11   220  14.0  0.134     1       2  177
98570       0  423    14   220  10.4  0.026     1       3   98
104422      0  423    14   480  17.0  0.035     1      11  105
1001        0  423    12   590   5.2  0.010     1      10   62

In [6]:
csv_df.to_csv(r'./输出数据/样木库.csv',encoding='utf_8_sig',index=False)

In [7]:
sam_excel_df.to_excel(r'./输出数据/属性表.xls',index=False)

In [8]:
sam_dbf_df.to_excel(r'./输出数据/dbf_样木库.xls',index=False)