# 导包

In [1]:
import pandas as pd

In [2]:
csv_df = pd.read_csv(r'./使用数据/样木库.csv',encoding='utf_8_sig')
csv_df

     样地号  立木类型  样木号  树种代码  检尺类型   直径  材质等级  材积式  材积
0   6166     1   61   180    11  122     0    0  53
1   6353     1   45   140    14   61     0    0   7
2   6794     1   69   140     1   50     0    0   4
3   7188     1   92   240    16  125     0    0  53
4   6794     1   20   330    17  130     0    0  54
5    681     1   22   310     1  133     0    0  73
6  10861     3   29   200     1   92     0    0  23
7   8064     1   48   260    11  105     0    0  33
8   1344     1   54   140     1  153     0    0  87
9   3167     1   54   240     1   64     0    0   9

In [3]:
excel_df = pd.read_excel(r'./使用数据/小班属性表.xls')
sam_excel_df = excel_df.sample(10).sample(10,axis=1)
sam_excel_df

,经营类型,土地所有权,流域名称,四旁树株数,灌木平均高,散生木株数,土地利用现状地类,坡向,人工林生长等级,国家级公益林保护等级
243,31.0,1,1,0,1.2,121,201.0,4.0,NaN,NaN
230,31.0,1,1,0,1.0,139,201.0,8.0,NaN,NaN
181,31.0,1,1,0,1.5,601,201.0,3.0,NaN,NaN
4,22.0,1,1,0,1.5,0,301.0,3.0,NaN,NaN
57,12.0,1,1,0,1.5,0,301.0,4.0,NaN,2.0
22,13.0,1,1,0,1.5,0,301.0,3.0,2.0,NaN
164,31.0,1,1,0,1.2,241,201.0,5.0,NaN,NaN
96,31.0,2,1,0,1.3,93,201.0,9.0,NaN,NaN
193,31.0,1,1,0,1.0,2176,201.0,8.0,NaN,NaN
125,NaN,1,1,322,0.0,0,1005.0,9.0,NaN,NaN

In [4]:
csv_df.to_csv(r'./输出数据/样木库.csv',encoding='utf_8_sig',index=False)

In [5]:
sam_excel_df.to_excel(r'./输出数据/属性表.xls',index=False)